<p>
  Hello muther fucker
</p>
<form method="get" action="http://localhost:3001/api/v1/images">
  <label name="registration_label" for="registration">Registration number</label>
  <input id="registration" name="registration" />
  <label name="stock_reference_label" for="stock_reference">Stock reference number</label>
  <input id="stock_reference" name="stock_reference" />
  <input type="submit" value="submit" />
</form>
