<p>
  Arnold Clark image loader 2000 (tm)
</p>
<form data-bind="submit: loadImages">
  <label name="registration_label" for="registration">Registration number</label>
  <input data-bind="value: registration" id="registration" />
  <label name="stock_reference_label" for="stock_reference">Stock reference number</label>
  <input data-bind="value: stock_reference" id="stock_reference" />
  <input type="submit" value="submit" />
</form>
<div class="imageGallery">
  <ul data-bind="foreach: images">
      <li data-bind="if: present">
          <img data-bind="attr: {src: url}" />
      </li> 
  </ul>
</div>
